/* - Mobile: 375px
- Desktop: 1440px

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)

- White: hsl(0, 0%, 100%) */

body {
  margin: 0px;
  background-color: hsl(217, 28%, 15%);
  font-family: "Open Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.header-brand {
  height: 1.5em;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10em; */
  font-family: "Raleway", sans-serif;
}

.navbar-item {
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: smaller;
}

.content {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  align-items: center;
  text-align: center;
}

.main-image {
  height: 14.5em;
  padding-top: 2.5em;
}

.header {
  background-image: url("./images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  /* background-size: ; */
  background-position-y: 80%;
}

.sub-header {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.summary-paragraph {
  padding: 1em;
}

.button {
  background-color: hsl(198, 60%, 50%);
  width: 18em;
  padding: 1em;
  border-radius: 9999px;
  font-size: 0.8em;
  margin-bottom: 4em;
  border: none;
  color: white;
  background-image: -webkit-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: -moz-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: -o-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
}

.blurbs {
  margin-top: 2em;
}

.main-image {
  padding-top: 5em;
}

.stay-productive-blurb {
  text-align: left;
  padding-left: 1.5em;
  padding-right: 1em;
  padding-bottom: 6em;
}

a {
  color: hsl(176, 68%, 64%);
}

.card-group {
  display: flex;
  flex-direction: column;
}

#quote-img {
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  height: 1em;
  width: 1.6em;
  margin-left: 1em;
}

.card {
  background-color: hsl(219, 30%, 18%);
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  text-align: left;
  padding: 1.5em;
  font-weight: 400;
  font-size: 0.8em;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3)
}

.rounded {
  border-radius: 50%;
  height: 3em;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.person-name {
  font-size: 1.2em;
  font-weight: 700;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.title * {
  margin: 0px;
}

.early-access {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}

.early-access-header{
  text-align: center;
}

.early-access-p {
  text-align: center;
  margin: 1.8em;
}

.email-input::placeholder{
  color:rgb(200,200,200);
  padding-left:2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.email-input {
  border-radius: 9999px;
  width: 100%;
  height: 3.5em;
  /*margin-left: 2em; */
}

.email-button {
  background-color: hsl(198, 60%, 50%);
  width: 100%;
  height: 3.5em;
  border-radius: 9999px;
  margin-top: 2em;
  border: none;
  color: white;
  background-image: -webkit-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: -moz-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: -o-linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%) 0%,
    hsl(198, 60%, 50%) 100%
  );
 padding: 0px !important;

}

footer {
  display: flex;
  flex-direction: column; 
  padding: 2em;
  color: white;
}

.grid {
  display: grid;
  /* grid-template: 1fr 1fr 1fr / 1fr 8fr; */
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 2fr 1fr 1fr;
  height: 15em;
}

.icon {
  padding-top: 0.3em;
}

#location-icon {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#phone-icon {
 grid-row: 2 / 3;
 grid-column: 1 / 2;
}

#email-icon {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#location-text { 
  grid-area: 1 / 2 / 2 / 3;
}


.about {
  display: flex; 
  flex-direction: column;
  margin-top: 4em;
}

.footer-item {
  margin-top: 1em;
  color: white;
  text-decoration: none;
}

.contact {
  display: flex; 
  flex-direction: column;
  margin-top: 3em;
}

.footer-logo{
height: 2.5em;
}

.icons {
  color: white;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  margin-top: 5em;
  margin-left:6em;
  margin-right: 6em;
  margin-bottom: 2em;
}

.fb-icon {
  display: inline-block;
  border-radius: 60px;
  border-color: white;
  border-width: 1px !important;
  border: solid;
  padding: 0.5em 0.7em;
}

.twitter-icon {
  display: inline-block;
  border-radius: 60px;
  border-color: white;
  border-width: 1px !important;
  border: solid;
  padding: 0.5em 0.5em;
}

.insta-icon {
  display: inline-block;
  border-radius: 60px;
  border-color: white;
  border-width: 1px !important;
  border: solid;
  padding: 0.5em 0.6em;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
