/* - Mobile: 375px
- Desktop: 1440px

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)

- White: hsl(0, 0%, 100%) */

body {
  background-color: hsl(218, 28%, 13%);
  font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-left: 1em;
}

.header-brand {
    height: 1.5em; 
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10em; */
    font-family: 'Raleway', sans-serif;
}

.navbar-item {
    padding-left: 1em;
    padding-right: 1em;
    color:  rgb(250, 250, 250);
    text-decoration: none;
    font-size: smaller;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
